.Footer{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0.5vw;
    background-color: darkblue;
    justify-content: center;
    text-align: center;
}

.footer-p{
    font-size: small;
    padding: 0.5vw;
}

.footer-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}